# EditorConfig is awesome: https://editorconfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript/TypeScript files
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2
quote_type = single

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# CSS/SCSS files
[*.{css,scss}]
indent_style = space
indent_size = 2

# HTML files
[*.html]
indent_style = space
indent_size = 2

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Configuration files
[.babelrc]
indent_style = space
indent_size = 2

[.eslintrc]
indent_style = space
indent_size = 2

[.prettierrc]
indent_style = space
indent_size = 2

# Ignore minified files
[*.min.js]
indent_style = ignore
insert_final_newline = ignore
trim_trailing_whitespace = ignore

# Docker files
[Dockerfile*]
indent_style = space
indent_size = 4

# Makefiles
[Makefile]
indent_style = tab

# Batch files
[*.{cmd,bat}]
end_of_line = crlf

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# Editor specific settings
[.vscode/*]
indent_style = space
indent_size = 2

# Git merge files
[*.{diff,patch}]
indent_style = unset
